= simple_form_for comment do |f|
  = f.input :description
  = f.input :user, input_html: { value: current_user.id}, as: :hidden
  = f.input :restraunt_id, input_html: {value: restraunt.id}, as: :hidden
  = f.submit
