
.col-xs-12.col-sm-6.col-md-6.col-lg-6
  .panel.panel-default.text-center
    %h2= restraunt.name
    - if user_signed_in?
      = link_to site_like_path(restraunt_id: restraunt.id), remote:true, method: :post do
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      =raw "<span class=\"label label-success label-as-badge\" id=\"restraunt_#{restraunt.id}\">#{restraunt.likes.count}</span>"
    %p= restraunt.description
    - restraunt.categories.each do |category|
      %span= link_to category.name, category, class:"btn btn-sm btn-success "
